<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Stefanie Walz
              </h1>
              <p>
              I am a PhD student within the Perception Group for Autonomous Driving of <a href="https://group.mercedes-benz.com/en/">Mercedes-Benz</a>. 
              Supervised by <a href="https://scholar.google.com/citations?user=z76PBfYAAAAJ&hl">Bernt Schiele</a> from <a href="https://www.mpi-inf.mpg.de/home">Max Blank Institute for Informatics</a> and <a href="https://www.cs.princeton.edu/~fheide/">Felix Heide</a> from <a href="https://www.cs.princeton.edu/">Princeton University</a>, my research focuses on 3D computer vision.
              </p>
              <p>
              I have a M.Sc. in Communications and Computer Engineering and a B.Sc. in Electrical Engineering from <a href="https://www.uni-ulm.de/en/">Ulm University</a>. My master's thesis was honored with the Sponsorship Award from the <a href="https://www.vdi.de/en/home">VDI (Association of German Engineers)</a>. 
              Additionally, during my studies, I was the recipient of the <a href="https://www.deutschlandstipendium.de/deutschlandstipendium/de/services/english/english_node.html">Germany Scholarship</a> (2016) and the Rolf-and-Lieselotte-Glaser-Foundation Scholarship (2016-2019).
              </p>

              <p style="text-align:center">
                <a target="_blank" href="mailto:walz.stefanie@gmx.de"> Email</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=ZeHkzXwAAAAJ&hl">Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/stefanie-walz-9594a71ba"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://github.com/stefaniewalz">GitHub</a> 
                              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="images/stefanie_walz.png"><img style="width:100%;max-width:100%;object-fit: cover; border-radius: 50%;" alt="profile photo" src="images/stefanie_walz.png" class="hoverZoomLink"></a>            </td>
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Updates</h2>
              <p></p>
          
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'update' %}
          
          {% if post.year > 2022 %}
          <p><b>{{post.date | date: "%B %Y"}}</b> | {{post.title}} </p>
          {% endif %}

          
          

          {% endif %}
          {% endfor %}
          {% endfor %}

          <details>
          <summary>More</summary>

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'update' %}

          {% if post.year < 2023 %}
          <p><b>{{post.date | date: "%B %Y"}}</b> | {{post.title}} </p>
          {% endif %}

          
         
          {% endif %}
          {% endfor %}
          {% endfor %}
        </details>
        </table>


       
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in computer vision, deep learning, generative AI, and image processing.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <papertitle>{{post.title}}</papertitle>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">[website]</a>
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">[code]</a>
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">[paper]</a>
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">[arxiv]</a>
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">[video]</a>
              {% endif %}          
              {% if post.poster %}
              <a href="{{post.poster}}">[poster]</a>
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">[slides]</a>
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">[youtube]</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
      

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:12px;">
                Source code adapted from <a style="font-size:12px;" href="https://leonidk.com/">Leonid Keselman's</a> <a style="font-size:12px;" href="https://github.com/leonidk/leonidk.github.io">Jekyll fork</a> of <a style="font-size:12px;" href="https://jonbarron.info/">Jon Barron's public academic website</a>.<br>Updated March 2024.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

